In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter('ignore')

In [2]:
test_data= pd.read_csv('SalaryData_Test(1).csv')

In [3]:
test_data

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,Private,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
15056,39,Private,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
15057,38,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
15058,44,Private,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
15059,35,Self-emp-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [5]:
test_data.describe()

                age   educationno   capitalgain   capitalloss  hoursperweek
count  15060.000000  15060.000000  15060.000000  15060.000000  15060.000000
mean      38.768327     10.112749   1120.301594     89.041899     40.951594
std       13.380676      2.558727   7703.181842    406.283245     12.062831
min       17.000000      1.000000      0.000000      0.000000      1.000000
25%       28.000000      9.000000      0.000000      0.000000     40.000000
50%       37.000000     10.000000      0.000000      0.000000     40.000000
75%       48.000000     13.000000      0.000000      0.000000     45.000000
max       90.000000     16.000000  99999.000000   3770.000000     99.000000

In [6]:
test_data['native'].unique()

array([' United-States', ' Peru', ' Guatemala', ' Mexico',
       ' Dominican-Republic', ' Ireland', ' Germany', ' Philippines',
       ' Thailand', ' Haiti', ' El-Salvador', ' Puerto-Rico', ' Vietnam',
       ' South', ' Columbia', ' Japan', ' India', ' Cambodia', ' Poland',
       ' Laos', ' England', ' Cuba', ' Taiwan', ' Italy', ' Canada',
       ' Portugal', ' China', ' Nicaragua', ' Honduras', ' Iran',
       ' Scotland', ' Jamaica', ' Ecuador', ' Yugoslavia', ' Hungary',
       ' Hong', ' Greece', ' Trinadad&Tobago',
       ' Outlying-US(Guam-USVI-etc)', ' France'], dtype=object)

In [7]:
test_data['Salary'].value_counts()

 <=50K    11360
 >50K      3700
Name: Salary, dtype: int64

In [15]:
test_data['Salary'].unique()

array([0, 1])

In [10]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [11]:
test_data['workclass']=le.fit_transform(test_data['workclass'])
test_data['education']=le.fit_transform(test_data['education'])
test_data['maritalstatus']=le.fit_transform(test_data['maritalstatus'])
test_data['occupation']=le.fit_transform(test_data['occupation'])
test_data['relationship']=le.fit_transform(test_data['relationship'])
test_data['race']=le.fit_transform(test_data['race'])
test_data['sex']=le.fit_transform(test_data['sex'])
test_data['native']=le.fit_transform(test_data['native'])
test_data['Salary']=le.fit_transform(test_data['Salary'])

In [12]:
test_data

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,2,1,7,4,6,3,2,1,0,0,40,37,0
1,38,2,11,9,2,4,0,4,1,0,0,50,37,0
2,28,1,7,12,2,10,0,4,1,0,0,40,37,1
3,44,2,15,10,2,6,0,2,1,7688,0,40,37,1
4,34,2,0,6,4,7,1,4,1,0,0,30,37,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,2,9,13,4,9,3,4,1,0,0,40,37,0
15056,39,2,9,13,0,9,1,4,0,0,0,36,37,0
15057,38,2,9,13,2,9,0,4,1,0,0,50,37,0
15058,44,2,9,13,0,0,3,1,1,5455,0,40,37,0
15059,35,3,9,13,2,3,0,4,1,0,0,60,37,1

In [14]:
# feature selection: tree based feature selection
from sklearn.tree import DecisionTreeClassifier
x_test = test_data.iloc[:,0:13]
y_test = test_data.iloc[:,13]
x_test.shape,y_test.shape

((15060, 13), (15060,))

In [16]:
x_test

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native
0,25,2,1,7,4,6,3,2,1,0,0,40,37
1,38,2,11,9,2,4,0,4,1,0,0,50,37
2,28,1,7,12,2,10,0,4,1,0,0,40,37
3,44,2,15,10,2,6,0,2,1,7688,0,40,37
4,34,2,0,6,4,7,1,4,1,0,0,30,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,2,9,13,4,9,3,4,1,0,0,40,37
15056,39,2,9,13,0,9,1,4,0,0,0,36,37
15057,38,2,9,13,2,9,0,4,1,0,0,50,37
15058,44,2,9,13,0,0,3,1,1,5455,0,40,37
15059,35,3,9,13,2,3,0,4,1,0,0,60,37

In [17]:
y_test

0        0
1        0
2        1
3        1
4        0
        ..
15055    0
15056    0
15057    0
15058    0
15059    1
Name: Salary, Length: 15060, dtype: int32

In [18]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_test = sc.fit_transform(x_test)
x_test

array([[-1.02900513, -0.222347  , -2.42343884, ..., -0.2191694 ,
        -0.07888904,  0.26058067],
       [-0.05742253, -0.222347  ,  0.19017232, ..., -0.2191694 ,
         0.75013125,  0.26058067],
       [-0.80479376, -1.25712632, -0.85527215, ..., -0.2191694 ,
        -0.07888904,  0.26058067],
       ...,
       [-0.05742253, -0.222347  , -0.33254991, ..., -0.2191694 ,
         0.75013125,  0.26058067],
       [ 0.39100021, -0.222347  , -0.33254991, ..., -0.2191694 ,
        -0.07888904,  0.26058067],
       [-0.2816339 ,  0.81243231, -0.33254991, ..., -0.2191694 ,
         1.57915155,  0.26058067]])

In [19]:
from sklearn.tree import DecisionTreeClassifier
dt_model= DecisionTreeClassifier(criterion ="entropy" , random_state = 0)
dt_model.fit(x_test,y_test)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [20]:
from sklearn.metrics import confusion_matrix , accuracy_score

In [21]:
y_prad = dt_model.predict(x_test)

In [22]:
accuracy_score(y_prad , y_test)

0.9826029216467463

In [23]:
cm = confusion_matrix(y_prad , y_test)
cm

array([[11328,   230],
       [   32,  3470]], dtype=int64)

In [25]:
#svm using whole features:
from sklearn.svm import SVC
svm= SVC(kernel='rbf',random_state=0,gamma=0.1,C=1.0)
svm.fit(x_test,y_test)

SVC(gamma=0.1, random_state=0)

In [26]:
y_prad_1  = svm.predict(x_test)

In [27]:
accuracy_score(y_prad_1 , y_test)

0.8557104913678619

# only useful feature and train model

In [28]:
dt_model.feature_importances_

array([0.19187455, 0.04684156, 0.02379386, 0.10256802, 0.01489795,
       0.09414409, 0.21169658, 0.01723115, 0.00567927, 0.12368106,
       0.04194844, 0.10620279, 0.01944067])

In [29]:
l= dt_model.feature_importances_>0.1
l

array([ True, False, False,  True, False, False,  True, False, False,
        True, False,  True, False])

In [31]:
new_x_test = test_data.iloc[:,[0,3,6,9,11]]
new_x_test.head()

   age  educationno  relationship  capitalgain  hoursperweek
0   25            7             3            0            40
1   38            9             0            0            50
2   28           12             0            0            40
3   44           10             0         7688            40
4   34            6             1            0            30

In [32]:
new_x_test = sc.fit_transform(new_x_test)

In [33]:
new_x_test

array([[-1.02900513, -1.2165628 ,  1.00610775, -0.14543845, -0.07888904],
       [-0.05742253, -0.43489824, -0.88198978, -0.14543845,  0.75013125],
       [-0.80479376,  0.73759862, -0.88198978, -0.14543845, -0.07888904],
       ...,
       [-0.05742253,  1.1284309 , -0.88198978, -0.14543845,  0.75013125],
       [ 0.39100021,  1.1284309 ,  1.00610775,  0.562734  , -0.07888904],
       [-0.2816339 ,  1.1284309 , -0.88198978, -0.14543845,  1.57915155]])

In [35]:
from sklearn.svm import SVC
svm_1 = SVC(kernel='rbf',random_state=0,gamma=0.10, C=1.0)
svm_1 .fit(new_x_test,y_test)

SVC(gamma=0.1, random_state=0)

In [36]:
y_prad_2  = svm_1.predict(new_x_test)

In [37]:
accuracy_score(y_prad_2 , y_test)

0.8403054448871182

In [38]:
cm_1 = confusion_matrix(y_prad_2 , y_test)

In [39]:
cm_1

array([[10726,  1771],
       [  634,  1929]], dtype=int64)